* {
    font-size: 40px;
}

.header {
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding: 30px

}

.scoreC,
.scoreP {
    display: flex;
    font-size: 40px;
    padding: 10px;
}

.playerScore,
.computerScore {
    border: solid;
    padding: 30px
}

.scoreP {
    margin-left: 50px;
}

.scoreC {
    margin-right: 20px;
}

.scores {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    padding: 10px;
}

.choices {
    display:flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

#rock,
#paper,
#scissors {
    display: flex;
    font-size: 25px;
    border-radius: 10px;
    padding: 30px;
}

.resultText {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
}

#reset {
    display: flex;
    font-size: 30px;
    border-radius: 10px;
    padding: 15px;
}

.button {
    display: flex;
    justify-content: center;
}